---
import BaseLayout from "../layouts/BaseLayout.astro";
import FAQItem from "../components/FAQItem.astro";
import PageTitle from "../components/PageTitle.astro";
---

<BaseLayout title="FAQ">
  <PageTitle> FAQ </PageTitle>
  <div
    class="content-container flex flex-col justify-center mt-4 md:mt-8 gap-2"
  >
    <FAQItem question="What are the timings for the day?">
      Guests may arrive from 12:30. The ceremony will begin promptly at 13:30,
      followed by a drinks reception, wedding breakfast and evening reception.
      Carriages at midnight.
    </FAQItem>
    <FAQItem question="What is the dress code?">
      Summer formal. Morning dress welcome, but not required. Please avoid blue
      as this is reserved for the bridal party.
    </FAQItem>
    <FAQItem question="What should I do if I have dietary requirements?">
      Our RSVP form includes a section for dietary requirements. If you are
      unsure about anything, please reach out to one of us directly.
    </FAQItem>
    <FAQItem question="Can I take photos during the day?">
      We kindly ask that no photos are taken during the ceremony. We have a
      professional photographer capturing the moment and would love for everyone
      to be fully present. We’ll share the official photographs afterwards.
    </FAQItem>
    <FAQItem question="Should I bring a gift?">
      We do not expect any gifts for our special day, your presence is the
      present.
    </FAQItem>
  </div>
</BaseLayout>
