---
import BaseLayout from "../layouts/BaseLayout.astro";
import FAQItem from "../components/FAQItem.astro";
import PageTitle from "../components/PageTitle.astro";
---

<BaseLayout title="FAQ">
  <PageTitle> FAQ </PageTitle>
  <div
    class="content-container flex flex-col justify-center mt-4 md:mt-8 gap-2"
  >
    <FAQItem question="What are the timings for the day?">
      Guests may arrive from 12:30. The ceremony will begin promptly at 13:30,
      followed by a drinks reception, wedding breakfast and evening reception.
      Carriages at midnight.
    </FAQItem>
    <FAQItem question="What is the dress code?">
      Summer formal. Morning dress welcome, but not required. Please avoid blue
      as this is reserved for the bridal party.
    </FAQItem>
    <FAQItem question="What should I do if I have dietary requirements?">
      Our RSVP form includes a section for dietary requirements. If you are
      unsure about anything, please reach out to one of us directly.
    </FAQItem>
    <FAQItem question="Can I take photos during the day?">
      We kindly ask that no photos are taken during the ceremony. We have a
      professional photographer capturing the moment and would love for everyone
      to be fully present. We’ll share the official photographs afterwards.
    </FAQItem>
    <FAQItem question="Should I bring a gift?">
      We do not expect any gifts for our special day, your presence is the
      present.
    </FAQItem>
    <FAQItem question="Where can I hire a morning suit?">
      Morning dress is welcome but not required. If you would like to wear a
      traditional morning suit, this usually consists of a black morning coat
      with grey striped trousers. Waistcoat and tie colours are up to you.
      <br /><br />
      Some places guests may find helpful include
      <a
        href="https://www.afarleysuithire.co.uk"
        class="underline underline-offset-4 decoration-blue-500"
        >A. Farley Country Attire</a
      >
      (Kibworth),
      <a
        href="https://www.rathbonestailor.com"
        class="underline underline-offset-4 decoration-blue-500"
        >Rathbones Tailor</a
      >
      (online),
      <a
        href="https://www.moss.co.uk"
        class="underline underline-offset-4 decoration-blue-500">Moss Bros</a
      > (National),
      <a
        href="https://www.peterposh.co.uk"
        class="underline underline-offset-4 decoration-blue-500">Peter Posh</a
      > (Midlands) and
      <a
        href="https://www.oliverbrown.org.uk"
        class="underline underline-offset-4 decoration-blue-500">Oliver Brown</a
      > (London).
    </FAQItem>
    <FAQItem question="When should I RSVP by?">
      Please RSVP by the start of June so we can confirm final numbers with the
      venue and caterers. If you know your plans earlier, we would really
      appreciate hearing from you sooner.
    </FAQItem>
  </div>
</BaseLayout>
