---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import PhotoCard from "../components/PhotoCard.astro";
import CTA from "../components/CTA.astro";
import NavLink from "../components/NavLink.astro";
import VeneueCard from "../components/VeneueCard.astro";
---

<BaseLayout title="Megan & Alex - Wedding">
  <main class="max-w-7xl mx-auto px-4">
    <!-- Hero Section -->
    <Hero title="Megan & Alex are tying the knot" />

    <!-- Event Details Section -->
    <section class="py-12 md:py-16">
      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 overflow-hidden"
      >
        <div class="flex flex-col gap-4 md:gap-8">
          <div class="flex flex-col gap-4 sm:flex-row md:gap-8">
            <VeneueCard
              label="Ceremony"
              venueName="Kelmarsh Hall"
              venueUrl="https://kelmarsh.com/"
              addressLine1="Kelmarsh"
              addressLine2="Northamptonshire, NN6 9LY"
              time="12:30"
            />

            <VeneueCard
              label="Evening"
              venueName="Kelmarsh Hall"
              venueUrl="https://kelmarsh.com/"
              addressLine1="Kelmarsh"
              addressLine2="Northamptonshire, NN6 9LY"
              time="19:30"
            />
          </div>
          <CTA href="/rsvp">I'LL BE THERE </CTA>
        </div>

        <!-- Right Column: Photo -->
        <div>
          <PhotoCard
            src="/couple-photo.jpg"
            alt="Megan and Alex"
            aspectRatio="portrait"
          />
        </div>
      </div>
    </section>

    <!-- Footer Navigation
    <section class="py-16 border-t border-blue-500/20">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 md:gap-8">
        <NavLink text="Our Story" href="/our-story" />
        <NavLink text="Travel & Stay" href="/travel" />
        <NavLink text="Registry" href="/registry" />
        <NavLink text="RSVP" href="/rsvp" />
      </div>
    </section> -->
  </main>
</BaseLayout>
